a{
    background-color: rgb(173, 221, 110);
    display: block;

}
div {
    /* background-color: brown; */
    height: 100px;
    display: inline;
    /* display: inline-block; */
}
.main{
    height: 700px;
    width: 600px;
    background-color: rgb(150, 15, 15);
    display: flex;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.one{
    background-color: rgb(121, 112, 131);
    height: 100px;
    width: 100px;
}
.second{
    height: 700px;
    width: 600px;
    background-color: rgb(15, 17, 150);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}
.two{
    background-color: rgb(121, 112, 131);
    height: 100px;
    width: 100px;
}